*{
    box-sizing: border-box;
}
body{
    background-color: rgb(4, 15, 53);
}
.header{
    width: auto;
    height: 100%;
    font-size:100;
    padding:5px;
    font-weight: bold;
    text-align:start;
    position:sticky;
    top:100%;
    

}
.header a{
    font-size: 100;
    padding:3px;
}
a{
    text-decoration: none;

}
.header a:hover{
    text-shadow: 5px 5px 5px black;
    text-decoration: underline;
}
#head img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top:70px;
    left:70%;

}
@media (max-width:600px) {
    #head img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        position: relative;
        left:60%;
        bottom:100px;    
    }
    
}
@media (max-width:600px) {
    
    #head h1{
    font-size:20px;
    position: relative;
    top: 10px;

    }
    #head h5{
        font-size: 10px;  
        font-weight: normal; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
    top: 10px;
   }
   
}

@media (max-width:600px){
    #linkes{
        font-size: 10px;
         position: relative;
        top: 5px;
        padding: 10px;

    }
    }

 h1{
   position: relative;
   bottom: 100px;
color:white;
    font-size: 40px;
}
 h5{
     position: relative;
   bottom: 100px;
    
    color:white;
    font-size: 15px;   
}

#linkes{
    width: 100px;
    height: 100px;
    color:white;
    padding: 10px;
     position: relative;
   bottom: 100px;
   color: black;

}

#linkes a{
    padding: 3px;
    color: rgb(235, 230, 241);
    size: 20px;

}
#Experiences h2{
    color: yellow;
text-align: center;


}
#Certificates h2{
    color: yellow; 
    text-align: center;

}
.images{
     width: 300px;
    height: 300px;
    display: inline;
     transition:all , 1s ;

    
}
.im{
     width: 400px;
    height: 300px;
    display: inline;
     transition:all , 1s ;

}

img{
    display: inline;
     width: 140px;
    height: 150px;
     border: solid 2px white;
     border-radius: 7px;
     padding: 5px;
    transition:all  1s ;

    
}
@media (max-width:600px) {
    img{
        width: 80px;
        height: 100px;
    }

    .images img:hover{
    width: 100px;
    height: 100px;
}
.im img:hover{
    width: 100px;
    height: 100px;
}
.images{
    width: 100px;
    height: 100px;
}   
.im{
     width: 100px;
    height: 100px;

}
}
.images img:hover{
    width: 200px;
    height: 200px
    ;
}
.im img:hover{
    width: 200px;
    height: 200px;
}
.cera h3{
    font-size: 20px;
    width: 80%;
    height: 60px;
    border: solid 2px white; 
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
.exp h3{
    font-size: 20px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
.Instructor h2{
     color: rgb(209, 255, 7);
    text-align: center;
}
.ins h3{
    font-size: 20px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}

#skills h2{
    color: rgb(209, 255, 7);
    text-align: center;
        
}
.General h2{
    color: rgb(209, 255, 7);
    text-align: center;
}
.ger h3{
    font-size: 20px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
.Coach-swim h2{
    color: rgb(209, 255, 7);
    text-align: center;
}
.swims h3{
    font-size: 20px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
.skils h2{
    color: rgb(209, 255, 7);
    text-align: center;
}
.sw h3{
    font-size: 20px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}

@media (max-width:600px) {
    .swims h3{
    font-size: 13px;
     width: 80%;
    height: 50px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
    }
    .sw{
    font-size: 13px;
     width: 80%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
    .ger h3{
    font-size: 13px;
     width: 80%;
    height: 50px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
    }
    .exp h3{
     width: 100%;
    height: 60px;
    font-size: 13px;
    
    }
    .skil h3{
    font-size: 13px;
     width: 90%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
    }

    .cera h3{
    width: 100%;
    height: 70px;
    padding:2%;
    font-size: 13px;
    
    }
    .ins h3{
    font-size: 15px;
     width: 90%;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
}
.skil h3{
    font-size: 20px;
    width: 80%;
    height: 50px;
    border: solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    border-left: solid 5px rgb(7, 3, 12);
    color:white;
}
.fott h3 {
    color:white;
    font-size:15px;
}
.fott h4{
    font-size:20px;
        color: #ff0a0a;

}
.fot{
    text-align: center;
}
.fot h3{
    color:white;
    font-size:15px;
    
}
.fot h4{
    font-size:20px;
    color: #ff0a0a;
}   
.logs{
    text-align: center;
}
 .logs svg{
    width: 25px;
    height: 25px;
    text-align: center;
    color: beige;
    padding:3px;

}
p{
     background:
    linear-gradient( to right,#ff0000,#c9b2b2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    text-align: center;
    font-size: xx-large;


}
footer{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 12, 32);

}
.logs svg:hover{
    box-shadow: 5px 5px 5px rgb(119, 9, 9);

}
@media (max-width:600px) {
    .fott h3 {
    color:white;
    font-size:15px;
}
.fott h4{
    font-size:20px;
        color: #ff0a0a;

}
.fot h3{
    color:white;
    font-size:15px;
    
}
.fot h4{
    font-size:20px;
    color: #ff0a0a;
}   
.fot{
    text-align: center;
        

}
.logs a{
    padding: 3px;
    color: rgb(235, 230, 241);
    font-size: xx-large;
    box-sizing: border-box;
    
}
.logs{
    text-align: center;
}
 .logs svg{
    width: 20px;
    height:20px;
    display: inline;

}
p{
    background:
    linear-gradient( to right,#ff0000,#c9b2b2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    text-align: center;
    font-size: medium;

}
footer{
    width: 100%;
    height: 100%;
    background-color: rgb(21, 12, 32);

}
.logs svg:hover{
    box-shadow: 5px 5px 5px rgb(119, 9, 9);

}
    
}




